@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  background: linear-gradient(135deg, #e2e0e0, #efedee);
  border-radius: 20px;
  margin: 20px auto;
  width: 90%;
  color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  position: relative;
}

.banner-content {
  width: 60%;
}

.banner-content h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner-content p {
  font-size: 1.2rem;
  max-width: 600px;
}

.donate-btn {
  background-color: #ec244f;
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  font-weight: bold;
}

.donate-btn:hover {
  background-color: #ffdde1;
  transform: scale(1.05);
}

.banner-image {
  position: absolute;
  right: 0px;
  width: 500px;
}

.banner-image img {
  width: 100%;
  max-width: 340px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .banner-content {
    width: 100%;
  }

  .banner-image {
    position: relative;
    right: unset;
    bottom: unset;
    width: 80%;
    margin-top: 20px;
  }
}
